*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight: 400;}

body {
    font-family:'Tilda Sans VF', Arial, sans-serif;
    padding: 0;
}

.wrapper{
   min-height: 100%;
   overflow: hidden;
   display:flex;
   flex-direction: column;
}
.container{
    max-width: 1180px;
    margin: 0px auto;
  
}


.header{
    background-color: rgb(51, 51, 51, 0.05);
    padding:50px 50px 20px 50px;
    /*position: fixed;
    width: 100%;*/
}
.header__row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__title{
    flex: 1 1 100%;
}
.header__logo{
    
}
.header__text{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
}

.header__text::before{
    content: "";
    position: absolute;
    background: url('/img/icons840.png') 0 0 no-repeat;
    width: 40px;
    height: 40px;
    margin: -1px 0 0 -55px;

}

.header__text::after{
    display: block;
    margin: 25px auto 0px auto;
    content: "";
    max-width: 100%;
    height: 2px;
    background-color:rgb(0, 0, 0, 0.3);
}
.header__btns{
    display: flex;
    position: relative;
    top: 55px;
    right: 50px;
    position: absolute;

}
.header__btn{
    margin: 0 10px 0 0;
}
.btn{
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: black;
    padding: 10px 0 10px 0;
    border-radius: 20px;
    font-weight: 700;
}
.btnn{
    padding: 10px 16px 10px 16px;
}
.btn:hover{
    background-color: grey;
    padding: 10px 0 10px 0;
    border-radius: 20px;
    font-weight: 700;
}
.btnn:hover{
    color:black;
}
.header__menu{}
.menu{}
.menu__body{
    padding: 0 0 0 25px;
}
.menu__list{
    
    display: flex;
    justify-content: center;

}
.menu__link{
    font-weight: 700;
    font-size: 17px;
    color: black;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
}
li:last-child{
    margin: 0;
}

.menu__link:hover{
    font-weight: 700;
    font-size: 17px;
    color: white;
    text-transform: uppercase;
    background-color: black;
}

.btnn{
    color: white;
}

.main{
    flex: 1 1 auto;
}

.footer{
    background-color: #333333;
}
.footer__body{
    padding: 40px 0;
}
.footer__text{
    color: white;
    text-align: center;
}

.hi{
    background: url('/img/hi.jpeg') no-repeat center /cover #555555;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 900px;
    /*margin:174px 0 0 0;*/
}

.hi__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hi__title{


    flex: 1 1 52%;
}
.title__text{
    color: white;
    font-size: 65px;
    line-height: 80px;
    font-weight: 700;
}
.hi__camera{
    flex: 1 1 48%;
    padding: 200px 100px;
}
.hi__text{
    
}
.hi__text p{
    font-weight: light;
    color:white;
    font-size: 20px;
    line-height: 32px;
    margin: 0 0 20px 0;
    font-weight: 100;

}

p:first-child{
    margin:0;
}
.hi__btn {
    display: inline-block;
    font-size: 15px;
    background-color: white;
    color: black;
    border-radius: 7px;
    font-weight: 700;
    padding: 14px 0;
}

.btnnn{
    padding: 14px 30px;
    color: black;
}

.hi__btn:hover{
    background-color: black;
    color: white;
}
.btnnn:hover{
    color: white;
    padding: 14px 30px;
}

.advantages{
    background-color: #ffffff;
    padding: 140px 0 0 0;
    
}
.advantages__title{
    text-align: center;
    margin:0 0 55px 0;
    font-size: 55px;
   
    padding: 0 30px;
}
.advantages__subtitle{
    text-align: center;
    margin:0 0 85px 0;
    font-size: 20px;
  
}
.advantages__row{
    display: flex;
    margin: 0 0 140px 0;
}
.advantages__column{
    flex: 1 1 33.3333%;
    margin: 0 15px;
}
.item__img{
    text-align: center;

}
.column__img{
    
    margin: 0 0 30px 0;
    width: 120px;
    height: 120px;
}
.column__title{
    text-align: center;
    font-size: 25px;
    margin: 0 0 35px 0;
}
.column__text{
    font-size: 19px;
    line-height: 27px;
    text-align: center;
}
.explain{
    background: url('/img/1a6f6d76a51902d4204288fd11b0865a.jpeg') no-repeat center /cover #555555;
    background-attachment:fixed;
    background-blend-mode: multiply;
    min-height: 900px;
    max-width: 100%;
}
.explain__body{
    padding: 180px 210px 0 210px;
    
}
.explain__item{
    background-color: #fff;
    padding:80px 55px 50px 55px;
}
.explain__title{
    font-size: 40px;
    text-align: left;
    color: black;
    margin: 0 0 40px 0;
}
.explain__text{
    font-size: 18px;
    line-height: 35px;

}
.example{

}
.example__body{
    padding: 65px 0 0 0;
}
.example__item{
    padding: 0 100px;
}
.item__title{
    text-align: center;
    margin: 0 0 40px 0;
    font-size: 46px;
    font-weight: 700;
}
.item__video{
    text-align: center;
    margin: 0 0 100px 0;
}





#review-form {
    margin-top: 20px;
}

#review-text {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.review {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}






.team{
    padding: 50px 0 0 0;
}
.team__title{
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    margin: 0 0 70px 0;
}
.team__row{
    display: flex;
}
.team__column{
    flex: 1 1 25%;
    
}
.column__body{

}
.column__person{
    margin: 0 0 70px 0;
}
.person__img{
    text-align: center;
    margin: 0 0 25px 0;
}
.person__name{
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 10px 0;
}
.person__role{
    text-align: center;
}
.pers-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
}
.contacts{

}
.contacts__body{
    
    padding: 100px 0 0 0;
}
.contacts__title{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 60px 0;
}
.contacts__contact{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    margin: 0 0 60px 0;
}
.contacts__adress{
    text-align: center;
    font-size: 16px;
}
.contacts__row{
    display:flex;
    
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.contacts__logo{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    
    margin: 0 15px 0 0;
    overflow: hidden;
}
.clw{
    overflow: visible;
}
.logo-img{
    width: 100%;
    height: 100%;
}




.forclosepopup{
    position: fixed;
    top: 0;
    left: 0;
}
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}
.popup__area{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.popup:target{
    opacity: 1;
    visibility: visible;
}
.popup__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup__content{
    max-width: 800px;
    color: black;
    background-color: white;
    padding: 0 0 30px 0;
    position: relative;
}
.popup__close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color:white;
}
.popup__header{
    padding: 50px 90px;
    background-color: #000000;
    margin: 0 0 40px 0;
}
.popup__title{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
}
.popup__item{

}
.popup__subtitle{
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    margin: 0 0 10px 0;
}
.formbt1{
    padding: 20px 30px; 
    margin: 0 0 10px 0;
    
}
.popup__name{
    margin: 0 0 20px 0;
}
.popup__login{
    
    margin: 0 0 20px 0;
}
.popup__passw{
    margin: 0 0 20px 0;
}
.popup__btn{
    
}
.auth__btn{
    padding: 16px 0;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
}

.pp{
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(24, 24, 24);
    padding: 12px 17px;
    font-size: 18px;
}

.popup__bottom{

}   
.bottom__forget{
    text-align: center;
    margin: 0 0 8px 0;
}
.bottom__reg{
    text-align: center;
}
.regg{
    color:black;
    text-decoration: underline;
}

/*.container{
    max-width: 1180px;
    margin: 0px auto;
}

.hi__img{
    width: 469px;
    height: 219px;
    border: 1px solid red;
}

.content{
    flex: 1 1 auto;
}

.hi{
    background-color: #445162;
    padding: 50px 0;
}

.hi__row{
    display: flex;
    justify-content: space-between;
}

.hi__body{
    color: white;
    padding: 0 30px 0 0;
}

.hi__title{
    font-size: 60px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    margin: 0px 0px 38px 0px;
}


.hi__list li{
    background: url("/img/icons8-галочка-32.png") 0 -6px no-repeat;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 20px;
    line-height: 22px;
    padding: 0 0 0 36px;
    margin: 0 0 15px 0;
}

.hi__list li:last-child{
    margin: 0;
}


.title{
    font-size: 30px;
    color: #445162;
    line-height: 36px;
}

.what__img{
    width: 430px;
    height: 186px;
}

.what{
    padding: 50px 0;
}

.what__row{
    display: flex;
}
.what__image{
    flex: 1 0 430px;
}

.what__image img{
    max-width: 100%;
}

.what__body{
    flex: 1 1 auto;
    padding: 0 0 0 38px;
}
.what__title{
    margin: 0 0 33px 0;
}
.what__text p{
    color:#333333;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 25px 0;
}

.columns{
    background-color: #f5f5f5;
    padding:50px 0 20px 0;
}
.columns__title{
    text-align: center;
    margin: 0 0 30px 0;
}
.columns__row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}
.columns__column{
    padding: 0 8px;
    flex: 0 1 50%;
    margin: 0 0 30px 0;
}
.columns__item{}
.item{}
.item__row{
    display: flex;
}
.item__image{
    flex: 0 0 200px;
}
.item__image img{
    max-width: 100%;
}
.column_img{
    width: 200px;
    height: 150px;
}
.item__body{
    flex: 1 1 auto;
    padding: 0 0 0 15px;

}
.item__title{
    color: #445162;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 13px 0;
}
.item__text{
    font-size: 16px;
    color: #333333;
    line-height: 24px;
}

.vertical{
    padding: 50px 0;
}
.vertical__title{
    text-align: center;
    margin: 0 0 30px 0;
}
.vertical__body{
    max-width: 990px;
    margin: 0px auto;
}
.vertical__row{
    display: flex;
    margin: 0px -22.5px;
}
.vertical__column{
    flex: 0 1 33.33333%;
    padding: 0 22.5px;
    display: flex;
}
.vertical__item{
    background-color: #445162;
    color: #fff;
    padding: 0 0 20px 0;
    border-radius: 5px;
    border: 1px solid #445162;
    display:flex;
    flex-direction: column;
}
.vertical__subtitle{
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}
.vertical__label{
    text-align: center;
    background-color: #fff;
    color: #445162;
    padding: 15px 0;
    font-size: 40px;
}
.vertical__text{
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
    flex: 1 1 auto;
}

.vertical__text p{
    margin: 0 0 15px 0;
}

.vertical__text p:last-child{
    margin: 0;
}

.vertical__btn{
    display:block;
    margin: 0 20px;
    height: 40px;
    background-color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 2px black;
    color: #445162;
    font-size: 18px;
    transition-duration: 0.5s;
}


.vertical__btn:hover{
    top: 2px;
    background-color: #1a582a;
    color: #ebebeb;
    box-shadow: 0 3px 2px black;
}


.footer{
    background-color: #f5f5f5;
}

.footer__row{
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__text{
    color:#445162;
    font-size: 12px;
    letter-spacing: 0.3px;
}

